<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org"
      lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div>TODO write content</div>
    <p th:text="${compartment.getSerial()}"></p>
    <p th:text="${compartment.name}"></p>
    <p th:text="${compartment.room}"></p>
    </body>
</html>
